:root {
    --Dark-cyan: #19a2ae;
    --Very-dark-desaturated-blue: #2d3248;
    --Dark-grayish-blue: #6a6f81;

    /* ### Neutral  */
    --Dark-gray: #969696;

    --Kumbh-Sans:"Kumbh Sans", sans-serif;
}

* {
    font-family: var(--Kumbh-Sans);
    font-size: 16px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.l-flex {
    display: flex;
}

main {
    background-color: var(--Dark-cyan);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.c-card {
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    z-index: 0;
}

.c-card_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.c-card_athor {
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 7.188rem;
    margin-right: 7.188rem;
    margin-top: 5.75rem;
}